<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475769117088-h79mir342n3nugf9mibibd0satn6co6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475769117088-h79mir342n3nugf9mibibd0satn6co6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCy7GyXx2EtXlV-1AA_1grOivbRl5VrdCA</string>
	<key>GCM_SENDER_ID</key>
	<string>475769117088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dodiaditya.LoginRegister</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebase-f68cd</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebase-f68cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475769117088:ios:9d2c4137e2f77947aeecc5</string>
</dict>
</plist>